# Salin file ini jadi ".env" untuk development lokal (opsional),
# lalu isi DATABASE_URL dengan connection string dari Neon Postgres.
# Untuk deployment, isi variabel ini di Vercel Dashboard:
# Project Settings -> Environment Variables

DATABASE_URL=postgresql://user:password@ep-xxxxx.region.aws.neon.tech/dbname?sslmode=require
